body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed {
  text-decoration: line-through;
}

.clear:hover {
  text-decoration: underline;
  cursor: pointer;
}

img {
  display: none
}

.list-group-item:hover img:hover {
  opacity: 1;
  cursor: pointer;
}

.list-group-item:hover img {
  display: block;
  opacity: 0.5
}